# === БАЗА ДАННЫХ ===
# Никнейм пользователя в БД
POSTGRES_USER=?
# Пароль доступа к БД
POSTGRES_PASSWORD=?
# Название БД
POSTGRES_DB=?
# URL для доступа к БД
DATABASE_URL={DB_DRIVER}://{POSTGRES_USER}:{POSTGRES_PASSWORD}@db:5432/{POSTGRES_DB}

# === Безопасность API ===
# Секрет для Livekit-webhook (чтобы проверять, что ответ пришел от сервера Livekit)
WEBHOOK_SECRET=?
# Секрет для проверки сигнатуры JWT-токена
JWT_SECRET_KEY=?
